.Principal {
	display: grid;
	grid-template-columns: 5% 10% 85%;
	grid-template-rows: 100%;
}

.SwitchSecundario {
	grid-column: 1/4;
	grid-row: 1/2;
	z-index: 0;
}

/* Spinner Begin */

.Spinner {
	display: grid;
	grid-template-columns: repeat(8, auto);
	grid-template-rows: repeat(8, auto);
}

.SpinnerBase {
	grid-column: 1/9;
	grid-row: 1/9;
	z-index: 0;
}

.SpinnerCharge {
	background-color: #979fc58e;
	height: 100%;
	width: 100%;
	grid-column: 1/9;
	grid-row: 1/9;
	z-index: 99;
	display: grid;
	justify-content: center;
}

.SpinnerChargeSub {
	height: 100vh !important;
	bottom: 0;
	left: 0;
	right: 0;
	top: 0;
	justify-content: center !important;
}

.SpinnerChargeSub div {
	position: fixed;
}

/* NAVBAR */

.PaginaActual {
	background-color: rgb(146, 203, 236) !important;
}

.NavbarCortito {
	grid-column: 1/2;
	grid-row: 1/2;
	z-index: 8;
	font-size: 33px;
	text-align: left;
	color: grey;
}

.NavbarCortito button {
	cursor: pointer;
}

.Submarino {
	font-size: 33px !important;
	text-align: center !important;
	color: grey !important;
}

.Submarino:hover {
	cursor: pointer;
}

.isDisabled {
	color: currentColor;
	cursor: not-allowed;
	opacity: 0.5;
	text-decoration: none;
}

/* CALENDARIO */

.react-calendar {
	padding: 10px !important;
	padding-top: 30px !important;
	padding-bottom: 50px !important;
	width: 700px !important;
	background: white;
	font-family: Arial, Helvetica, sans-serif;
	font-size: medium !important;
	line-height: 1.125em !important;
	cursor: default !important;
}

.react-calendar * {
	cursor: default !important;
}

.react-calendar *:hover {
	background-color: white !important;
}

.saturday2 {
	height: 30px;
	width: 30px !important;
	background: #96f04d !important;
	border-radius: 50% !important;
	cursor: pointer !important;
}

.saturday2:hover {
	background-color: blue !important;
}

.saturday2 abbr:hover {
	background-color: blue !important;
}

.react-calendar__tile--now {
	background-color: white !important;
}

.react-calendar__navigation__label__labelText {
	font-weight: bolder;
}
